.task{
   background: #e9e9e9;
    display: flex;
    min-width: 200px;
    max-width: 40%;
    margin-bottom: 2px;
    padding: 6px 15px;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: orange;
}

.taskComplete{
     background: rgba(0, 128, 0, 0.623);
    display: flex;
    min-width: 200px;
    max-width: 40%;
    margin-bottom: 2px;
    padding: 6px 15px;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    color: #f1f1f1;
}
.taskComplete a{
    color: #f1f1f1;
}


svg{
    width: 18px;
    margin-left: 10px;
}

svg:hover{
    cursor: pointer;
}