.modalBox{
    background: #f1f1f1;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    border-radius: 5px;
    padding: 29px;
    box-shadow: 0px 0px 5px #727272;
    width: 25rem;
}
.modalBoxHeader{
    margin-bottom: 17px;
    border-bottom: 1px solid #a9a9a9;
    padding-bottom: 5px;
    color: #606060;
}

.modalBoxBody{
}
.modalBoxBody form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.modalBoxBody form input, .modalBoxBody form textarea{
    border: 1px solid #c1c1c1;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 18px;
}

.modalBoxBody form div{
    flex-direction: column;
    display: flex;
    row-gap: .5rem;
}
.modalBoxFooter {
    margin-top: 20px;
    border-top: 1px solid #a9a9a9;
    padding-top: 10px;
    display: flex !important;
    justify-content: end;
    column-gap: 5px;
    flex-direction: row !important;
}
.modalBoxFooter button {
    background: #52a252;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.modalBoxFooter button:nth-child(2) {
    background: #565656;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}


