*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1 !important;
}

ul{
    list-style-type: none;
}
li{}


.active {
    color: orange;
}
a{
  text-decoration: none;
  color: #000;
}

.page{
  margin-top: 80px;
  margin-bottom: 80px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    /* right: 0; */
    background: whitesmoke;
    padding: 0 10%;
    height: 70px;
    line-height: 70px;
    box-shadow: 0 -3px 7px black;
    margin-bottom: 80px;
    z-index: 1;
    width: 100%;
    display: flex;
    column-gap: 50px;
    align-items: center;
}

header div button {
    display: flex;
    align-items: center;
    background: #ee3636;
    color: #fff;
    border: none;
    padding: 7px 17px 7px 4px;
    border-radius: 3px;
    column-gap: 6px;
    font-weight: 600;
    cursor: pointer;
}

main{
    margin-top:70px;
}
nav {
    width: 15%;
    background: #f3f3f3;
    box-shadow: -1px -3px 5px black;
    padding-top: 20px;
    /* height: 100%; */
    /* position: absolute; */
    margin-top: 70px;
}
nav ul{}
    
nav ul li {
    line-height: 40px;
    font-weight: 600;
    border-bottom: 1px solid #dfdfdf;
}

nav ul li:last-child {
   
    border-bottom: none;
}

nav ul li a {
    padding-left: 50px;
    display: block;
    transition: all linear .3s;
}

nav ul li a.active, nav ul li a:hover {
    color: rgb(238, 54, 54);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    /* right: 0; */
    background: whitesmoke;
    padding: 0 10%;
    height: 70px;
    line-height: 70px;
    box-shadow: 0 3px 7px black;
    width: 100%;
  
}

.body-bg {
    background: #dbdada;
    width: 100%;
    padding: 30px 50px;
    overflow: auto;
    margin-bottom: 70px;
}
.layoutMain {
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
}

.flex {
    display: flex;
}
.alignItemCenter{
    align-items: center;
}
.justifyBetween{
    justify-content: space-between;
}
.mt_2{
    margin-top: 2rem;
}

.title{
    color: #333;
    padding-bottom: 10px;
}

.errorMassage{
    color: red;
}
.errorMassage::first-letter{
    text-transform: capitalize;
}
.required{
    color: red;
}
